<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SV-Group OpenMensa</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  </head>
  <body>
    <div class="container">
      <h1>SV-Group OpenMensa Parser</h1><br>

      This is a parser for <a href="https://openmensa.org">openmensa.org</a>. It fetches and converts public data from <a href="http://www.sv-restaurant.ch/de/">SV (Schweiz) AG</a><br><br>

      <% url = "http://mensa-fhnw.sv-restaurant.ch/de/menuplan/persrest-data.json" %>
      <% json = JSON.load(open(url)) %>

      <p><b><%= "#{json["items"].count}" %></b> Einträge</p>

      <table class="table row">

        <tr>
          <th>Nr.</th>
          <th>Mensa</th>
          <th class="hidden-xs">Adresse</th>
          <th class="hidden-xs">Stadt</th>
          <th colspan="3">Links</th>
        </tr>

        <% json["items"].each do |i| %>
          <tr>
            <% mensa_name = i["name"] %>
            <% mensa_url = i["link"] %>

            <% begin %>
              <% uri = URI(mensa_url) %>
              <% host = uri.host %>
              <% split = i["address"].split(" ") %>
              <% city = split.last %>

              <% unless city.nil? %>
                <% if city.length <= 2 || city.include?("(") %>
                  <% city = split[(split.size-2)..split.size].join(" ") %>
                <% end %>
              <% end %>

              <% unless host.nil? %>
                <% mensa_xml_url = "#{request.scheme}://" + request.host + ":" + request.port.to_s + "/parsers/svgroup/" + host.split(".")[0] %>
                <td>#<%= json["items"].index(i) + 1 %></td>
                <td><a href="<%= mensa_url %>" target="_blank"><%= mensa_name %> </a></td>
                <td class="hidden-xs"><%= i["address"] %></td>
                <td class="hidden-xs"><%= city %></td>
                <td><a href='<%= mensa_xml_url %>'>XML</a></td>
                <td><a href='<%= mensa_xml_url %>/today'>Today</a></td>
                <td><a href='<%= mensa_xml_url %>/meta'>Meta</a></td>
              <% end %>

            <% rescue %>
            <% end %>
          </tr>
        <% end %>

      </table>

      <footer>
        © SV (Schweiz) AG - Alle Angaben ohne Gewähr, Irrtum und Änderungen vorbehalten
      </footer><br />

    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" charset="utf-8"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        console.log("TODO: implement table");
      });
    </script>

  </body>
</html>
